<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skipInterval</key>
	<string>15</string>
	<key>randomPadRange</key>
	<string>2</string>
	<key>popularityLimit</key>
	<string>50</string>
	<key>shouldShowUpdateAlert</key>
	<string>0</string>
	<key>updateMessageText</key>
	<string>Update available</string>
	<key>updateInformativeText</key>
	<string></string>
	<key>updateButtonText</key>
	<string>Download update</string>
	<key>updateURL</key>
	<string>http://netsadness.net/magnify/download</string>
</dict>
</plist>
